* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none
}

a {
    text-decoration: none !important
}

i {
    font-style: normal;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

.clearfix {
    zoom: 1;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.lf {
    float: left;
}

.rg {
    float: right;
}

/*首页头部*/
.header {
    width: 100%;
    height: 80px;
    background-color: #fff
}

.header .nav {
    height: 80px;
}

.header .nav .logo {
    float: left;
    width: 180px;
    height: 60px;
    margin-top: 10px;
}

.header .nav .logo img {
    width: 100%;
}

.header .nav .nav-box {
    float: right;
    height: 80px;
}

.header .nav .nav-box ul li {
    position: relative;
    float: left;
}

.header .nav .nav-box ul>li>a {
    display: block;
    padding: 0 15px;
    font-size: 15px;
    color: #777777;
    margin-right: 8px;
    line-height: 80px;
}

.header .nav .nav-box ul li .active {
    background: #D2A26B;
    color: #fff
}

.header .nav .nav-box ul li .small {
    position: absolute;
    top: 80px;
    left: 0;
    width: 180px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px 0px rgba(110, 59, 0, 0.2);
    z-index: 5;
    display: none
}

.small li {
    display: flex;
    align-items: center;
    width: 180px;
    height: 50px;
    font-size: 16px;
}

.small .first {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.small li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 9px 9px 9px 17px;
}

.small li span img {
    width: 100%;
}

.small li a {
    display: inline-block;
    color: #666;
}

/* 关于我们背景 */
.project {
    width: 100%;
    height: 400px;
    background: url(../img/aboutUs_slices/gywm.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    color: #fff;
}

.project .content {
    text-align: center;
}

.project .content h1 {
    font-size: 48px;
    font-weight: 300;
    padding: 125px 0 25px 0;
}

.project .content h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 25px;
}

.project .content .line {
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background: #fff;
}

/* 公司简介 */
.introduce {
    width: 100%;
    height: 280px;
    position: relative;
}

.introduce .content {
    height: 280px;
    padding: 40px 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);

}

.introduce .content .logo-img {
    width: 150px;
    height: 140px;
    margin-top: 28px;
    margin-left: 80px;
}

.introduce .content .logo-img img {
    height: 100%;
}

.introduce .content .text {
    width: 663px;
    height: 290px;
    padding: 0 30px 0 5px;
}

.introduce .content .text h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.introduce .content .text p {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 30px;
}

.introduce .content .text p i {
    display: inline-block;
}

/* 业务模式 */
.business {
    width: 100%;
}

.business .content {
    width: 65%;
    margin: 0 auto;
    /* background: blanchedalmond; */
}

.business .content .title {
    width: 100%;
    padding: 60px 0 50px 0;
    text-align: center;
    font-size: 34px;
}

.business .content .hot {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.business .content .hot li {
    float: left;
    width: 33.33%;
    padding: 40px 10px;
    cursor: pointer;
}

.business .content .hot li .wrap {
    width: 100%;
    height: 270px;
    border: 1px solid #e6e6e6;
    padding: 35px 18px;
}

.business .content .hot li .box-img {
    width: 44px;
    height: 44px;
    margin: 0 auto;
}

.business .content .hot li .box-img img {
    width: 100%;
}

.business .content .hot li .wrap .wrap-title {
    color: #3f3f3f;
    padding: 15px 0;
}

.business .content .hot li .wrap .wrap-text {
    text-align: left;
    color: #666;
}

@media (max-width:1200px) {
    .business .content .hot li {
        width: 33.3333%;
    }
}

@media (max-width:992px) {
    .business .content .hot li {
        width: 100%;
    }
}

.business .content .hot li .wrap:hover {
    box-shadow: 0 0 6px rgba(121, 119, 118, 0.5);
}

.business .content .contact-us {
    margin-top: 40px;
}

.business .content .contact-us ul {
    display: flex;
}

.business .content .contact-us ul li {
    flex: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(121, 119, 118, 0.5);
}

.business .content .contact-us ul li .box-img {
    width: 44px;
    height: 44px;
}

.business .content .contact-us ul li .box-img img {
    width: 100%;
}

.business .content .contact-us ul li .text {
    padding-left: 20px;
    line-height: 24px;
    color: #707070;
}

.business .content .contact-us ul li .end {
    position: relative;
}

.business .content .contact-us ul li .end .img1 {
    position: absolute;
    top: -266px;
    left: -62px;
    width: 230px;
    height: 240px;
    display: none;
}

.business .content .contact-us ul li .end .img2 {
    position: absolute;
    top: -26px;
    right: -25px;
    width: 57.7px;
}

.business .content .contact-us ul li .text p:nth-child(1) {
    color: #303030;
}

.business .content .contact-us ul li:hover {
    box-shadow: 0 0 6px rgba(121, 119, 118, 0.5);
}

.business .content .contact-us ul li .end:hover .img1 {
    display: block;
}

/* 新闻资讯*/
.news {
    width: 100%;
}

.news .container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.news .content>.title {
    width: 100%;
    padding: 101px 0 80px 0;
    text-align: center;
    font-size: 34px;
}

.news .content .banner {
    height: 310px;
    overflow: hidden;
}

.news .content .banner .wrap {
    width: 2665px;
    height: 164px;
    /* background: blueviolet; */
}

.news .content .banner .wrap li {
    position: relative;
    float: left;
    width: 303px;
    margin: 0 15px 0 15px;
    border: 1px solid #e6e6e6;
}

.news .content .banner .wrap li img {
    width: 303px;
}

.news .content .banner .wrap p {
    padding: 12px 15px 0 10px;
}

.news .content .banner .wrap .title {
    font-size: 16px;
    color: #3f3f3f;
    font-weight: bold;
}

.news .content .banner .wrap .text {
    font-size: 14px;
    color: #666;
    padding-bottom: 20px;
}

.news .content .dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.news .content .dots ol {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.news .content .dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blanchedalmond;
}

.news .content .dots .active {
    transform: scale(1.3);

}

/* 最底部 */
.footer {
    width: 100%;
    background: #29292a;
    position: relative;
    margin-top: 80px;
}

.footer .content {
    padding-top: 60px;
    color: #fff;
}

.footer .content ul {
    height: 210px;
    display: flex;
}

.footer .content ul li {
    flex: 1.5;
}

.footer .content ul .first {
    flex: 2.5;
}

.footer .content ul .end {
    flex: 3.8;
}

.footer li .title {
    font-size: 16px;
    /* font-weight: bold; */
}

.footer li .logo-img {
    width: 165px;
    height: 150px;
    margin-left: 28px;
}

.footer li .logo-img img {
    height: 130px;
}

.footer li dt {
    padding-bottom: 12px;
    /* color: black; */
}

.footer li dd {
    font-size: 14px;
    line-height: 26px;
}

.footer .content ul .end p {
    font-size: 14px;
}

.footer .content ul .end .pt {
    padding-top: 23px;
}

.footer .content ul .end p:nth-child(3) {
    padding-top: 30px;
}

.footer li .number {
    font-weight: 500 !important;
    font-size: 24px !important;
}

.footer .line-content {
    width: 100%;
    border-top: 1px solid #4f4f4f;
    height: 50px;
}

.footer .line-content .writer {
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .line-content .writer a {
    font-size: 12px;
    font-weight: 400;
    color: #d4d4d4;
}

.footer .line-content .writer span {
    padding: 0 10px;
}

.footer .line-content .writer img {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

/* 返回顶部 */
.back-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    width: 55px;
    height: 55px;
    color: #D2A26B;
    text-align: center;
    line-height: 55px;
    background: #f4f4f4;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(121, 119, 118, 0.5);
    display: none;
}

.back-top :hover {
    cursor: pointer;
}

.back-top .huojian {
    font-size: 32px;
    color: #D2A26B;
}

.back-top .font {
    display: none;
    font-size: 12px;
}