* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none
}

a {
    text-decoration: none !important
}

i {
    font-style: normal;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

.clearfix {
    zoom: 1;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.lf {
    float: left;
}

.rg {
    float: right;
}

/*首页头部*/
.header {
    width: 100%;
    height: 101px;
    background-color: #fff
}

.header .nav {
    height: 101px;
}

.header .nav .logo {
    float: left;
    width: 218px;
    height: 62px;
    margin-top: 20px;
}

.header .nav .logo img {
    width: 100%;
}

.header .nav .nav-box {
    float: right;
    height: 101px;
}

.header .nav .nav-box ul li {
    position: relative;
    float: left;
}

.header .nav .nav-box ul li>a {
    display: block;
    padding: 0 15px;
    font-size: 15px;
    color: #777777;
    margin-right: 8px;
    line-height: 101px;
}

.header .nav .nav-box ul li .active {
    background-color: #174FA4;
    color: #fff
}

.header .nav .nav-box ul li .small {
    position: absolute;
    top: 101px;
    left: 0;
    width: 150px;
    background-color: #174FA4;
    z-index: 5;
    display: none
}

.small li {
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 8px;
    color: #fff;
    font-family: "宋体";
    padding-left: 20px;
}

.small li span {
    font-size: 14px;
    font-family: "微软雅黑";
}

.small li span a {
    color: #fff;
}

.small .first {
    margin-top: 25px
}

.small .end {
    margin-bottom: 25px
}

.small li span {
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.2s
}

.small li:hover span {
    top: -2px;
    left: 5px;
}

/* 关于我们背景 */
.project {
    width: 100%;
    height: 400px;
    background: url(../image/about_banner.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    color: #fff;
}

.project .content {
    text-align: center;
}

.project .content h1 {
    font-size: 48px;
    font-weight: 300;
    padding: 125px 0 25px 0;
}

.project .content h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 25px;
}

.project .content .line {
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background: #fff;
}

/* 公司简介 */
.introduce {
    width: 100%;
    height: 600px;
    position: relative;
}

.introduce .content {
    height: 600px;
    padding: 40px 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

}

.introduce .content .logo-img {
    width: 390px;
    height: 200px;
    margin-top: 160px;
    text-align: center;
}

.introduce .content .logo-img img {
    height: 200px;
}

.introduce .content .text {
    width: 503px;
    height: 416px;
    padding: 0 50px 0 5px;
}

.introduce .content .text h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.introduce .content .text p {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 25px;
}

.introduce .content .text p i {
    display: inline-block;
}

/* 最底部 */
.footer {
    width: 100%;
}

.footer .content {
    height: 232px;
    padding: 80px 0 30px 0;
    color: #666;
}

.footer .content ul {
    height: 232px;
}

.footer li {
    width: 25%;
    height: 100px;
    float: left;
}

.footer .set {
    width: 225px !important;
}

.footer li:first-child {
    margin-right: 40px;
}

.footer li .title {
    font-weight: bold;
}

.footer li .logo-img {
    width: 165px;
    height: 150px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.footer li .logo-img img {
    height: 130px;
}

.footer li dt {
    padding-bottom: 12px;
    color: black;
}

.footer li dd {
    font-size: 14px;
    line-height: 26px;
}

.footer li:last-child p {
    font-size: 14px;
    line-height: 40px;
}

.footer li .number {
    font-weight: 500 !important;
    font-size: 24px !important;
    color: #212121 !important;
}

.footer li .last {
    line-height: normal !important;
    padding-top: 8px;
}

.footer li .text-one {
    width: 70px;
    height: 40px;
}

.footer li .text-two {
    width: 160px;
    height: 40px;
}

.footer .line-content {
    width: 100%;
    border-top: 1px solid rgb(168, 166, 166);
    height: 50px;
}

.footer .line-content .writer {
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .line-content .writer a {
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

.footer .line-content .writer img {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

/* 返回顶部 */
.back-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    background: rgb(102, 156, 238);
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(101, 200, 224, 0.7);
    display: none;
}

.back-top :hover {
    cursor: pointer;
}

.back-top .huojian {
    font-size: 28px;
}

.back-top .font {
    display: none;
    font-size: 12px;
}