* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none
}

a {
    text-decoration: none !important
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

.clearfix {
    zoom: 1;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.lf {
    float: left;
}

.rg {
    float: right;
}

/*首页头部*/
.header {
    width: 100%;
    height: 80px;
    background-color: #fff
}

.header .nav {
    height: 80px;
}

.header .nav .logo {
    float: left;
    width: 180px;
    height: 60px;
    margin-top: 10px;
}

.header .nav .logo img {
    width: 100%;
}

.header .nav .nav-box {
    float: right;
    height: 80px;
}

.header .nav .nav-box ul li {
    position: relative;
    float: left;
}

.header .nav .nav-box ul>li>a {
    display: block;
    padding: 0 15px;
    font-size: 15px;
    color: #777777;
    margin-right: 8px;
    line-height: 80px;
}

.header .nav .nav-box ul li .active {
    background: #D2A26B;
    color: #fff
}

.header .nav .nav-box ul li .small {
    position: absolute;
    top: 80px;
    left: 0;
    width: 180px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px 0px rgba(110, 59, 0, 0.2);
    z-index: 5;
    display: none
}

.small li {
    display: flex;
    align-items: center;
    width: 180px;
    height: 50px;
    font-size: 16px;
}

.small .first {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.small li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 9px 9px 9px 17px;
}

.small li span img {
    width: 100%;
}

.small li a {
    display: inline-block;
    color: #666;
}

/* 解决方案背景 */
.project {
    width: 100%;
    height: 400px;
    background: url(../img/product_slices/banner@2x.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    color: #fff;
}

.project .content {
    text-align: center;
}

.project .content h1 {
    font-size: 48px;
    font-weight: 300;
    padding: 125px 0 25px 0;
}

.project .content h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 25px;
}

.project .content .line {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background: #fff;
}

/* 充值类产品 */
.advantage {
    width: 100%;
    overflow: hidden;
    margin-bottom: 80px;
}

.advantage .content {
    text-align: center;
    font-size: 16px;
}

.advantage .content .title {
    width: 67%;
    margin: 0 auto;
    padding: 100px 0 80px;
    font-size: 34px;
}

/* 媒体查询 media query */
.advantage .content .hot {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.advantage .content .hot li {
    float: left;
    height: 300px;
    width: 25%;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
}

.advantage .content .hot li:hover .wrap {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 10%) inset;
    border: 1px solid rgba(255, 255, 255, 0);
}

.advantage .content .hot .wrap-top {
    margin-top: 20px;
}

.advantage .content .hot li .wrap {
    width: 100%;
    height: 300px;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
}

.advantage .content .hot li .wrap .font-color {
    color: #ccc;
}

.advantage .content .hot li:last-child {
    margin-right: 0 !important;
}

.advantage .content .hot .tu {
    width: 44px;
    height: 44px;
    margin: 40px auto 16px auto;
}

.advantage .content .hot .tu img {
    width: 100%;
}

.advantage .content .hot p {
    color: #666;
    padding: 10px 0;
    /* text-align: left; */
}

@media (max-width:1200px) {
    .advantage .content .hot li {
        width: 33.3333%;
    }
}

@media (max-width:992px) {
    .advantage .content .hot li {
        width: 50%;
    }
}

@media (max-width:768px) {
    .advantage .content .hot li {
        width: 100%;
    }
}

/* 权益类产品 */
.equities {
    width: 100%;
    background: #f4f4f4;
    overflow: hidden;
}

.equities .content .hot {
    width: 53%;
    height: 300px;
    margin: 0 auto;
}

.equities .content .hot .wrap {
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

.equities .content .hot li {
    float: left;
    height: 300px;
    width: 33%;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 80px;
}

@media (max-width:1200px) {
    .equities .content .hot li {
        width: 33.3333%;
    }
}

@media (max-width:992px) {
    .equities .content .hot li {
        width: 100%;
    }
}

/* 最底部 */
.footer {
    width: 100%;
    background: #29292a;
    position: relative;
}

.footer .content {
    padding-top: 60px;
    color: #fff;
}

.footer .content ul {
    height: 210px;
    display: flex;
}

.footer .content ul li {
    flex: 1.5;
}

.footer .content ul .first {
    flex: 2.5;
}

.footer .content ul .end {
    flex: 3.8;
}

.footer li .title {
    font-size: 16px;
    /* font-weight: bold; */
}

.footer li .logo-img {
    width: 165px;
    height: 150px;
    margin-left: 28px;
}

.footer li .logo-img img {
    height: 130px;
}

.footer li dt {
    padding-bottom: 12px;
    /* color: black; */
}

.footer li dd {
    font-size: 14px;
    line-height: 26px;
}

.footer .content ul .end p {
    font-size: 14px;
}

.footer .content ul .end .pt {
    padding-top: 23px;
}

.footer .content ul .end p:nth-child(3) {
    padding-top: 30px;
}

.footer li .number {
    font-weight: 500 !important;
    font-size: 24px !important;
}

.footer .line-content {
    width: 100%;
    border-top: 1px solid #4f4f4f;
    height: 50px;
}

.footer .line-content .writer {
    height: 49px;
    font-size: 12px;
    font-weight: 400;
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .line-content .writer a {
    font-size: 12px;
    font-weight: 400;
    color: #d4d4d4;
}

.footer .line-content .writer span {
    padding: 0 10px;
}

.footer .line-content .writer img {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

/* 返回顶部 */
.back-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    width: 55px;
    height: 55px;
    color: #D2A26B;
    text-align: center;
    line-height: 55px;
    background: #f4f4f4;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(121, 119, 118, 0.5);
    display: none;
}

.back-top :hover {
    cursor: pointer;
}

.back-top .huojian {
    font-size: 32px;
    color: #D2A26B;
}

.back-top .font {
    display: none;
    font-size: 12px;
}